<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ArCh Webshop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" type = "text/css" href = "style.css" />
        <div class="headerText">ArCh Webshop</div>
    <script type="text/javascript" script-name="aclonica" src="http://use.edgefonts.net/aclonica.js"></script>
    </head>
    <body>
        <div class="centerText">
            <h3>Account Details:</h3>
            <span th:text="${message}">text</span>   
        </div>
        
        <form action="#" th:action="@{/accountPage}" th:object="${searchFormBean}" method="post">
        <input type="text" th:field="*{keyword}" />
         <div><input class="button" type="submit" value="Search" /> <input class="button" type="reset" value="Clear" /> </div>
    </form>
        
        <div class="flex">
            <a class="button" href="pcs">PC</a>
            <a class="button" href="laptops">Laptop</a>
            <a class="button" href="monitors">Monitor</a>
            <a class="button" href="headsets">Headset</a>
            <a class="button" href="keyboards">Keyboard</a>
            <a class="button" href="mouses">Mouse</a>
        </div>
    </body>
</html>
