<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" type = "text/css" href = "style.css" />
    </head>
    <body>
        <div class="headerText">ArCh Webshop</div>
        <script type="text/javascript" script-name="aclonica" src="http://use.edgefonts.net/aclonica.js"></script>
        
            <table id="productsTable">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>  
                    <td th:text="${product.category}"></td>  
                </tr>
            </table>
    </body>
</html>
