<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" type = "text/css" href = "style.css" />
    </head>
    <body>
        <div class="headerText">ArCh Webshop</div>
        <script type="text/javascript" script-name="aclonica" src="http://use.edgefonts.net/aclonica.js"></script>

        <table id="productsTable">
            <tr>
                <th>Order Number</th>
                <th>Product ID</th>
                <th>Account ID</th>
                <th>Quantity</th>
                <th>Remove</th>
            </tr>
            <th:block class="" th:each="cart : ${shopCart}">
                <tr>           
                <form action="#" th:action="@{/updateQuantity}" th:object="${orderLineBean}" method="post">
                    <input type="hidden" th:value="${cart.productId}" name="productId"/>
                    <td th:text="${cart.orderNumber}"</td>
                    <td th:text="${cart.productId}"</td> 
                    <td th:text="${cart.accountId}"></td>
                    <td><input class="number" type="number" name="nrOfProducts"th:value="${cart.nrOfProducts}"/>
                        <input class="button" type="submit" value="Update"/>
                    </td>
                </form>
                <form action="#" th:action="@{/delete}" th:object="${orderLineBean}" method="post">
                    <input type="hidden" th:value="${cart.productId}" name="productId"/>
                    <td><input class="button" type="submit" value="Remove" /></td>
                </form>
                </tr>
            </th:block>

        </table>
        <p >Total Price: </p>
        <p th:text="${totalPrice}" > </p>
    </body>
</html>
