.headerSkit {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 76px/1 "aclonica", Helvetica, sans-serif;
  color: #0096ff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 4px 0 rgba(0,0,0,0.5) ;
}